<!DOCTYPE html>
<html>
  <head>
    <title>Shopping</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header id="header">
      <div class="header_inner">
        <%= link_to "Home","#" %>

        <nav>
          <%# if user_signed_in? %>
            <%= link_to "New Product", new_product_path %>
            <%= link_to "Log Out", "#" %>
            <%= link_to "Cart", "#" %>
            

          <%# else %>
            <%#= link_to "Log In", "#" %>
          <%# end %>
          
        </nav>
      </div>
    </header>  
    <%= yield %>
  </body>
</html>
